#userforms{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 25px 35px; 
    background: rgba(30, 144, 255, 0.86);
}

