{% extends 'base.html.twig' %}
{% block content %}
    <h1>Generate</h1>
    <p>{{ info }}</p>
    <p>
        {% if form is defined %}
            {{ form(form) }}
        {% endif %}
    </p>
{% endblock %}