{% extends 'base.html.twig' %}
{% block body %}
    <h2>MD5 first</h2>
    <p>{{ string1 }}</p>
    <h2>MD5 second</h2>
    <p>{{ string2 }}</p>
    <h2>Redis Row</h2>
    <p>{{ redisRow }}</p>
{% endblock %}